/*
================================================
                    BODY
================================================
*/

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: "Feast of Flesh BB", sans-serif;
    color: var(--dark-text);
    background-color: var(--light-background);
    margin: 0;
}

section {
    scroll-snap-align: start;
    overflow: hidden;
}

/*
================================================
                    NAVBAR
================================================
*/

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-nav);
    box-shadow: 0 0 10px 0 var(--dark-text);
}

/*
================================================
                LOGO IN NAVBAR
================================================
*/

.nav_logo {
    height: 80px;
    opacity: 0;
    position: absolute;
    left: 1rem;
}

/*
.nav_logo:hover {
    cursor: pointer;
}
/*

/*
================================================
                TEXT IN NAVBAR
================================================
*/

.links {
    text-decoration: none;
    color: inherit;
}

#nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_item {
    margin: 0 20px;
    transition: all 0.5s ease;
    color: var(--light-text);
}

.nav_item:hover {
    cursor: pointer;
    transform: scale(1.5);
    color: var(--holberton);
}


/*
================================================
                THEMES BUTTON
================================================
*/

.btn_container {
    position: absolute;
    right: 25px;
}

#mute_button {
    background: none;
    border: none;
    position: absolute;
    right: 85px;
}

#mute_button img {
    height: 1.8rem;
    width: 1.8rem;
}

/*
================================================
                DOTS IN NAVBAR
================================================
*/

#dots_menu {
    display: none;
}

#dots_menu>img {
    width: 25px;
}

/*
================================================
                GAME SECTION
================================================
*/

#game_section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: none;
}

#game_section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title h1 {
    font-family: "Heartless";
    color: var(--light-text);
    font-size: 10vw;
    letter-spacing: 0.05em;
    text-shadow: 0 0 0.15em var(--dark-shadow);
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear infinite;
}

.title h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.title h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.title h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.title h1::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

.downarrow {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: -30px;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.shadow_container.hover-shadow {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

/*
================================================
                HOLBERTON SECTION
================================================
*/

#holberton_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: none;
}

#holberton_container {
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: justify;
}

#holberton_container img {
    max-height: 300px;
}

#holberton_container>img:hover {
    cursor: pointer;
}

.holberton_txt a {
    text-decoration: none;
    color: var(--holberton)
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: linear-gradient(0deg, var(--holberton), var(--holberton))no-repeat right bottom;
    transition: background-size 0.5s;
    background-size: 0% 1px;
}

.underline:hover::after,
.underline:focus-visible::after {
    background-size: 100% 1px;
    background-position-x: left;
}

.downarrow2 {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: invert(100%);
}

.shadow_container2.hover-shadow {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

/*
================================================
                SLIDES SECTION
================================================
*/

#slides_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: none;
}

.container_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 75vh;
    overflow: hidden;
}

.slides_container {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    height: 100vh;
    width: 600%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.downarrow3 {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: invert(100%);
}

.shadow_container3.hover-shadow {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

/*
================================================
                TRAILER SECTION
================================================
*/

#trailer_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: none;
}

.youtube_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube_video {
    width: 60%;
    height: 70%;
    border: solid 0.1rem;
}

.downarrow4 {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: invert(100%);
}

.shadow_container4.hover-shadow {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

/*
================================================
            SCREENSHOTS SECTION
================================================
*/

#screenshots_section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.screenshots_container {
    width: 75%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    align-items: center;
    justify-content: center;
}

.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: solid 0.1rem;
    cursor: pointer;
    overflow: hidden;
}

.screenshot img {
    height: 100%;
    transition: height 0.5s;
}

.screenshot img:hover {
    opacity: 0.7;
    height: 150%;
}


.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--light-background);
}

.modal img {
    max-width: 90vw;
    max-height: 75vh;
}

/* Modal Content */
.modal-content {
    position: relative;
    height: 100vh;
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 5;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

.mySlides_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
}

.mySlides_container img {
    object-fit: contain;
    max-height: 100%;
    max-width: 90%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin: 16px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--hover-button);
}

/* Number text (1/3 etc) */
.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
    left: 50%;
}

/* Caption text */
.caption-container {
    text-align: center;
}

img.demo {
    opacity: 0.6;
    width: 90%;
    height: 100%;
    cursor: pointer;
    border: solid 1px;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
    max-height: 100%;
    max-width: 100%;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.downarrow5 {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: invert(100%);
}

.shadow_container5.hover-shadow {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

/*
================================================
                ASSETS SECTION
================================================
*/

#assets_section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assets_container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 15% 85%;
}

.assets_category {
    display: flex;
    align-items: center;
}

.category-item {
    margin-bottom: 50px;
}

.category-item:hover {
    cursor: pointer;
}

.assets_content,
.assets_content2,
.assets_content3 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

#assets_content2,
#assets_content3 {
    display: none;
}


.assets_description {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}

.assets_description:first-child {
    display: flex;
}

.assets_description .text_container {
    position: absolute;
    text-align: center;
    z-index: 1;
}

.assets_description .image_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.assets_description .image_container img {
    position: absolute;
    height: 80%;
    object-fit: contain;
    left: -25vw;
    bottom: 0;
    transform: scaleX(-1);
    opacity: 1;
    z-index: -1;
}

.assets_pictures {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.assets_pictures_box {
    display: flex;
    width: auto;
}

.assets_pictures_box_img {
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid var(--assets-box);
    background-color: var(--assets-box-background);
    border-radius: 10px;
    height: 75vh;
    width: 15vw;
    max-width: 50vw;
    overflow: hidden;
    margin: 0 10px 0 10px;
    transition: width 0.3s ease;
}

.assets_pictures_box_img:hover {
    cursor: pointer;
    width: 25vw;
}

.assets_pictures_box_img:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px inset var(--assets-box);
    border-radius: 10px;
}

.downarrow6 {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: invert(100%);
}

.shadow_container6.hover-shadow {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

/*
================================================
                CONTACT SECTION
================================================
*/

#contact_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-shadow: none;
}

.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 75%;
    position: absolute;
    transition: transform 0.5s ease;
}

.contact_container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 75%;
    position: absolute;
    transition: transform 0.5s ease;
    transform: translateX(200%);
}

.team_container {
    text-align: center;
}

.team_container h2 {
    margin: 0;
}

.team {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5%;
}

.dev_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.dev {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 33%;
    height: 100%;
}

.artist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
}

.card {
    display: grid;
    grid-template-rows: 30% 20% 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    border: solid 0.1rem;
    overflow: hidden;
}

.card2 {
    display: grid;
    grid-template-rows: 40% 20% 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    border: solid 0.1rem;
    overflow: hidden;
}

.card_picture {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
}

.card_picture img {
    max-width: 100%;
    max-height: 100%;
}

.card_name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.name {
    font-size: 1.5rem;
    margin: 0;
}

.card_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.socials {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    padding-right: 5px;
}

.socials2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 5px;
    padding-right: 10px;
}

.socials_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    padding-right: 5px;
}

.socials_container2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    padding-right: 5px;
}

.socials_logo {
    max-width: 2vw;
}

#github {
    filter: invert(100%);
}

.socials_description a {
    padding: 10px;
    text-decoration: none;
    color: var(--dark-text);
}

.leftarrow {
    width: 250px;
    height: 150px;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: invert(100%);
}

.rightarrow {
    width: 250px;
    height: 150px;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: invert(100%);
}

.hidden {
    display: none;
}

/*
================================================
            SCROLLING TO TOP ARROW
================================================
*/

.toparrow,
.backtoparrow1,
.backtoparrow2 {
    width: 250px;
    height: 150px;
    position: fixed;
    right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scaleY(-1);
    filter: invert(100%);
}

.toparrow {
    z-index: 2;
}

.backtoparrow1 {
    z-index: 1;
    opacity: .50;
}

.backtoparrow2 {
    z-index: 1;
    opacity: .25;
}

/*
================================================
            ADJUSTMENTS FOR MOBILE
================================================
*/

@media screen and (max-width: 1050px) {
    /* Adjust styles for smaller screens */

    /* Navbar adjustments */
    nav {
        max-height: 25px;
        position: relative;
    }

    .nav_logo {
        height: 50px;
        opacity: 0;
    }

    #nav_menu {
        position: fixed;
        top: 27px;
        right: -125%;
        width: 100%;
        height: 33%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: var(--dark-nav);
        box-shadow: 0 0 10px 0 var(--dark-shadow);
        transition: 0.3s ease-in-out;
    }

    #nav_menu.active {
        right: 0px;
        box-sizing: border-box;
    }

    .nav_item {
        font-size: medium;
    }

    .btn_container {
        position: static;
    }

    #dots_menu {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 25px;
    }

    #dots_menu>img {
        width: 20px;
    }

    /* Game section adjustments */

    .title h1 {
        font-size: 20vw;
        ;
    }

    .downarrow,
    .downarrow2,
    .downarrow3,
    .downarrow4,
    .downarrow5 {
        width: 200px;
        height: 120px;
        bottom: -15px;
    }

    /* Holberton section adjustments */
    #holberton_container {
        width: 90%;
        margin-top: 50px;
    }

    /* Screenshots section adjustments */
    .screenshots_container {
        width: 90%;
    }

    .screenshot {
        border: solid 0.05rem;
    }

    /* Scroll to top arrow adjustments */
    .toparrow,
    .backtoparrow1,
    .backtoparrow2 {
        width: 200px;
        height: 120px;
        right: -50px;
    }
}

/*
================================================
                VARIABLE COLORS
================================================
*/

:root {
    --light-background: #ffffff;
    --holberton: #e01d3f;
    --holberton_shadow: #e21d3e80;
    --dark-text: #000000;
    --light-text: #ffffff;
    --dark-shadow: #000000;
    --dark-nav: #000000cc;
    --hover-button: #77777780;
    --dark-overlay: #000000;
    --assets-box: #ff0000;
    --assets-box-background:#b7463a;
}

/*
================================================
                    KEYFRAMES
================================================
*/

/* Keyframe for moving title */
@keyframes shake {

    5%,
    15%,
    25%,
    35%,
    55%,
    65%,
    75%,
    95% {
        filter: blur(0.0018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%,
    30%,
    40%,
    50%,
    70%,
    80%,
    90% {
        filter: blur(0.001em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%,
    60% {
        filter: blur(0.003em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%,
    85% {
        filter: blur(0.003em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.0007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {

    0%,
    95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {

    0%,
    95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

/* Keyframe for pulse effects in down arrow's hover */
@keyframes pulse {
    0% {
        box-shadow: var(--holberton_shadow) 0px -10px 10px;
    }

    100% {
        box-shadow: var(--holberton_shadow) 0px -35px 35px;
    }
}
