/*
================================================
                    BODY
================================================
*/

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--dark-text);
    background-color: var(--light-background);
    margin: 0;
}

/*
================================================
                    NAVBAR
================================================
*/

header{
    position: fixed;
    width: 100%;
}

nav {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-nav);
    box-shadow: 0 0 10px 0 var(--dark-text);
}

/*
================================================
                LOGO IN NAVBAR
================================================
*/

.nav_logo {
    height: 50px;
    opacity: 0;
    position: absolute;
    left: 1rem;
}

/*
.nav_logo:hover {
    cursor: pointer;
}
/*

/*
================================================
                TEXT IN NAVBAR
================================================
*/

.links {
    text-decoration: none;
    color: inherit;
}

#nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_item {
    margin: 0 20px;
    transition: all 0.5s ease;
    color: var(--light-text);
}

.nav_item:hover {
    cursor: pointer;
    transform: scale(1.5);
    color: var(--holberton);
}


/*
================================================
                THEMES BUTTON
================================================
*/

.btn_container {
    position: absolute;
    right: 25px;
}

/*
================================================
                DOTS IN NAVBAR
================================================
*/

#dots_menu {
    display: none;
}

#dots_menu > img {
    width: 25px;
}

/*
================================================
                GAME SECTION
================================================
*/

#game_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../ressources/gamewallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.downarrow {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

/*
================================================
                HOLBERTON SECTION
================================================
*/

#holberton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#holberton_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: justify;
    margin-top: 125px;
}

#holberton_container img {
    max-height: 300px;
    margin-bottom: 25px;
}

#holberton_container > img:hover {
    cursor: pointer;
}

.holberton_txt a {
    text-decoration: none;
    color:var(--holberton)
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: linear-gradient(0deg, var(--holberton), var(--holberton))no-repeat right bottom;
    transition: background-size 0.5s;
    background-size: 0% 1px;
}

.underline:hover::after,
.underline:focus-visible::after {
    background-size: 100% 1px;
    background-position-x: left;
}

/*
================================================
                SCREENSHOTS
================================================
*/

#screenshots_section {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshots_container {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 25px;
}

.screenshot {
    height: 100%;
    width:  100%;
    border: solid 0.1rem;
}

.screenshot_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: var(--dark-overlay);
}

/*
================================================
            SCROLLING TO TOP ARROW
================================================
*/

.toparrow {
    width: 150px;
    height: 150px;
    position: fixed;
    right: 0px;
    bottom: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

/*
================================================
            ADJUSTMENTS FOR MOBILE
================================================
*/

@media screen and (max-width: 850px) {
    /* Adjust styles for smaller screens here */

    /* Navbar adjustments */
    nav {
        max-height: 25px;
        position: relative;
    }

    .nav_logo {
        height: 20px;
        opacity: 0;
    }

    #nav_menu {
        position: fixed;
        top: 27px;
        right: -125%;
        width: 100%;
        height: 33%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: var(--dark-nav);
        box-shadow: 0 0 10px 0 var(--dark-shadow);
        transition: 0.3s ease-in-out;
    }

    #nav_menu.active {
        right: 0px;
        box-sizing: border-box;
    }

    .nav_item {
        font-size: medium;
    }

    .btn_container {
        position: static;
    }

    #dots_menu {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 25px;
    }

    #dots_menu > img {
        width: 20px;
    }

    /* Game section adjustments */
    .downarrow {
        width: 200px;
        height: 120px;
        bottom: -25px;
    }

    /* Holberton section adjustments */
    #holberton_container {
        width: 90%;
        font-size: 0.8em;
        margin-top: 50px;
    }

    #holberton_container img {
        max-height: 150px;
    }

    .holberton_txt {
        font-size: 0.8em;
    }

    /* Screenshots section adjustments */
    .screenshots_container {
        width: 90%;
    }

    .screenshot {
        border: solid 0.05rem;
    }

    /* Scroll to top arrow adjustments */
    .toparrow {
        width: 50px;
        height: 25px;
    }
}

/* Variables colors */
:root {
    --light-background: #d9d9d9;
    --holberton: #e01d3f;
    --dark-text: #000000;
    --light-text: #ffffff;
    --dark-shadow: #000000;
    --dark-nav: #000000cc;
    --dark-overlay: #000000bf;
}