/*
================================================
                    BODY
================================================
*/

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: "Night Rumble";
    color: var(--dark-text);
    background-color: var(--light-background);
    margin: 0;
}

section {
    scroll-snap-align: start;
    overflow: hidden;
}

/*
================================================
                    NAVBAR
================================================
*/

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-nav);
    box-shadow: 0 0 10px 0 var(--dark-text);
}

/*
================================================
                LOGO IN NAVBAR
================================================
*/

.nav_logo {
    height: 80px;
    opacity: 0;
    position: absolute;
    left: 1rem;
}

/*
.nav_logo:hover {
    cursor: pointer;
}
/*

/*
================================================
                TEXT IN NAVBAR
================================================
*/

.links {
    text-decoration: none;
    color: inherit;
}

#nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_item {
    margin: 0 20px;
    transition: all 0.5s ease;
    color: var(--light-text);
}

.nav_item:hover {
    cursor: pointer;
    transform: scale(1.5);
    color: var(--holberton);
}


/*
================================================
                THEMES BUTTON
================================================
*/

.btn_container {
    position: absolute;
    right: 25px;
}

#mute_button {
    background: none;
    border: none;
    position: absolute;
    right: 85px;
}

#mute_button img {
    height: 1.8rem;
    width: 1.8rem;
}

/*
================================================
                DOTS IN NAVBAR
================================================
*/

#dots_menu {
    display: none;
}

#dots_menu > img {
    width: 25px;
}

/*
================================================
                GAME SECTION
================================================
*/

#game_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#game_section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title h1 {
    font-family: "Heartless";
    color: var(--light-text);
    font-size: 10vw;
    letter-spacing: 0.05em;
    text-shadow: 0 0 0.15em var(--dark-shadow);
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear infinite;
}

.title h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.title h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.title h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.title h1::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.0018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.001em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.003em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.003em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.0007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

.downarrow {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

/*
================================================
                HOLBERTON SECTION
================================================
*/

#holberton_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#holberton_container {
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: justify;
}

#holberton_container img {
    max-height: 300px;
}

#holberton_container > img:hover {
    cursor: pointer;
}

.holberton_txt a {
    text-decoration: none;
    color:var(--holberton)
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: linear-gradient(0deg, var(--holberton), var(--holberton))no-repeat right bottom;
    transition: background-size 0.5s;
    background-size: 0% 1px;
}

.underline:hover::after,
.underline:focus-visible::after {
    background-size: 100% 1px;
    background-position-x: left;
}

/*
================================================
            SCREENSHOTS SECTION
================================================
*/

#screenshots_section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshots_container {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 25px;
}

.screenshot {
    height: 100%;
    width:  100%;
    border: solid 0.1rem;
}

.screenshot_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: var(--dark-overlay);
}

/*
================================================
                THANKS SECTION
================================================
*/

#thanks_section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thanks_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.thanks_text {
    max-width: 100%;
}

.thanks_content {
    height: 75%;
    display: grid;
    grid-template-columns: 15% 25% 45%;
}

.thanks_detail_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks_picture_box {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 15%;
}

.thanks_picture_box_music {
    display: flex;
    flex-direction: row;
}

.thanks_picture_box_img {
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid var(--holberton);
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
    overflow: hidden;
    margin: 0 5px 0 5px;
    transition: width 0.3s ease;
}

.thanks_picture_box_img img {
    height: 100%;
}

.thanks_picture_box_img:hover {
    cursor: pointer;
    width: 450px;
}

.thanks_picture_box_img:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px inset var(--holberton);
    border-radius: 10px;
}

.iridium, .nagazaki {
    display: none;
}

/*
================================================
            SCROLLING TO TOP ARROW
================================================
*/

.toparrow {
    width: 150px;
    height: 150px;
    position: fixed;
    right: 0px;
    bottom: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

/*
================================================
            ADJUSTMENTS FOR MOBILE
================================================
*/

@media screen and (max-width: 1050px) {
    /* Adjust styles for smaller screens here */

    /* Navbar adjustments */
    nav {
        max-height: 25px;
        position: relative;
    }

    .nav_logo {
        height: 50px;
        opacity: 0;
    }

    #nav_menu {
        position: fixed;
        top: 27px;
        right: -125%;
        width: 100%;
        height: 33%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: var(--dark-nav);
        box-shadow: 0 0 10px 0 var(--dark-shadow);
        transition: 0.3s ease-in-out;
    }

    #nav_menu.active {
        right: 0px;
        box-sizing: border-box;
    }

    .nav_item {
        font-size: medium;
    }

    .btn_container {
        position: static;
    }

    #dots_menu {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 25px;
    }

    #dots_menu > img {
        width: 20px;
    }

    /* Game section adjustments */

    .title h1 {
        font-size: 20vw;;
    }

    .downarrow {
        width: 200px;
        height: 120px;
        bottom: -25px;
    }

    /* Holberton section adjustments */
    #holberton_container {
        width: 90%;
        font-size: 0.6em;
        margin-top: 50px;
    }

    #holberton_container img {
        max-height: 150px;
    }

    /* Screenshots section adjustments */
    .screenshots_container {
        width: 90%;
    }

    .screenshot {
        border: solid 0.05rem;
    }

    /* Scroll to top arrow adjustments */
    .toparrow {
        width: 50px;
        height: 25px;
    }
}

/* Variables colors */
:root {
    --light-background: #d9d9d9;
    --holberton: #e01d3f;
    --dark-text: #000000;
    --light-text: #ffffff;
    --dark-shadow: #000000;
    --dark-nav: #000000cc;
    --dark-overlay: #000000bf;
}